/* .characters {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  
  .characters li {
    display: flex;
  }
  
  .characters button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
  } */
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1000px;
  width: 95%;
  margin: auto;
  padding: 75px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
  gap: 25px;
}
.grid-item {
  border: 8px solid #000000;
  padding: 10px;
  text-align: center;
}

.Stagecontainer {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

.stage-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  gap: 10px;
}
.stage-grid-item {
  border: 8px solid #000000;
  padding: 10px;
  text-align: center;
}



