<div class="container">
    <h2>Characters</h2>

    <ul>
        <div class="grid-container">
            <div class="grid-item" *ngFor="let character of characters">
                <button [class.selected]="character === selectedCharacter" type="button"
                    (click)="onCharacterSelect(character)">



                    <img style="height: 250px;" class="bird" src={{character.CharacterImg}}>




                </button>
            </div>
        </div>
    </ul>
</div>

<!-- Make map of pictures to name
    -Display each picture
    -Each picture is mapped to value
-->



<div *ngIf="selectedCharacter">
    <h2>{{selectedCharacter.CharacterName}} </h2>

    <div>
        <label for="character-name">Character Name: </label>
        <input id="character-name" [(ngModel)]="selectedCharacter.CharacterName" placeholder="characterName">
    </div>
</div>

<div class="StageContainer">
    <h3>Stages</h3>
    <ul>
        <div class="stage-grid-container">
            <div class="stage-grid-item" *ngFor="let stage of stages">
                <button [class.selected]="stage === selectedStage" type="button" (click)="onStageSelect(stage)">
                    <img style="height: 300px;" class="bird" src={{stage.StageImg}}>
                </button>
            </div>
        </div>
    </ul>
</div>
<div *ngIf="selectedStage">
    <h2>{{selectedStage.StageName}} </h2>
    <div>
        <label for="stage-name">Stage Name: </label>
        <input id="stage-name" [(ngModel)]="selectedStage.StageName" placeholder="stageName">
    </div>
</div>

<div *ngIf="getKillPercent">
    <h2>Kill Percent</h2>
    <button (click)="getKillPercent()">

        Get Kill Percent

    </button>




</div>